header{
    height: 75vh;
    min-height: 300px;
    background-image: url('../asset/hotel1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
header button{
    border: 4px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    font-weight: bold;
}
header button:hover{
    background-color: white;
    opacity: 0.3;
    color: rgba(0,0,0,0.5)
}
#offer h1{
    border-bottom: 1px solid red;
}
.card img{
    height: 190px;
}
nav li:hover{
    cursor: pointer;
}
.navbar {
    width: 100%;
    position: fixed;

    z-index: 999;

    top: 0;
  }
.card {
    height: 100%;
}
.text-light {
    text-align: center;
}
#map {
    height: 700px;
    width: 100%;
}
.card-link {
    color: black;
}
.hidden {
    display: none !important;
}

.align-right {
    margin-left: auto;
}

.form-dark-label {
    color: #000;
}

.form-control-buttons-wrapper button:first-of-type {
    margin-right: 10px;
}

.filtersSectionLabel {
  display: block;

  border-bottom: 1px solid #eee;

  padding-bottom: 10px;

  margin-bottom: 20px;

  font-size: 16px;

  font-weight: bold;
}

.submitButton {
  width: 100%;
  background-color: #00adff;
  border-width: 0;
  border-radius: 15px;
  color: #eee;
  font-weight: bold;
  padding: 4px 0;
}

.submitButton:focus {
  outline: none;
}

.result-card {
  display: flex;
}

.search-page-container {
  margin-top: 60px;
}

.single-offer-card {
  display: flex;
  flex-direction: revert;
  width: 100%;

  margin-bottom: 20px;
}

.card-img-top {
  width: 250px;
}

.single-offer-card-body {
  width: 100%;
  padding: 10px;

  color: #000;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details, .price {
  font-size: 0.875rem;
  line-height: 1rem;
  margin: 0px;
  font-weight: bold;
  margin-bottom: 10px;
}